.header {
    width: 100%;
    height: 75px;
    margin: auto;
    background-color: white;
    color: black;

}

.name {
    float: left;
    background-color: #4aaaa5;
    color: white;
    margin-top: 0%;
    width: 200px;
    height: 75px;
    text-align: center;
    line-height: 75px;
}

.nav-buttons {
    float: right;

}

#about {
    float: left;
    padding: 10px 25px 10px 5px;
}

#portfolio {
    float: left;
    padding: 10px 25px 10px 5px;

}

#contact {
    float: left;
    padding: 10px 15px 10px 5px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.main {
    width: 960px;
    margin: auto;
}

.body {
    display: block;
    margin: 0px;
    width: 100%;
    color: white;
}

.profile-picture {
    width: auto;
    height: auto;
    max-width: 200px;
    max-height: 200px;
    float: left;
}

.about {
    width: 110px;
    text-align: center;
    color: #4aaaa5
}

.footer {
    text-align: center;
}